* text=auto eol=lf
.babelrc export-ignore
.editorconfig export-ignore
.eslintrc.js export-ignore
.gitattributes export-ignore
.github export-ignore
.gitignore export-ignore
.npmrc export-ignore
.nvmrc export-ignore
/package-lock.json export-ignore
/package.json export-ignore
cartridges/sfcc_dev_tools/cartridge/client export-ignore
sfcc_developers_core.code-workspace export-ignore
webpack.config.js export-ignore
