.tree-view-wrapper {
  height: 100%;
  overflow: unset !important; }

.tree-view-item-key {
  color: #000000; }

.tree-view-item-hint {
  color: #888; }

.tree-view-item, .tree-view-item *, pre {
  font-family: "Droid Sans Mono", monospace, monospace, "Droid Sans Fallback" !important;
  font-weight: normal !important;
  font-size: 14px !important;
  line-height: 20px !important;
  font-feature-settings: "liga", "calt"; }

.tree-view-item-key-with-chevron.opened::before, .tree-view-item-key-with-chevron::before {
  top: 0 !important; }

.tree-view-item-value.tree-view-item-value-string, .tree-view-item-value.tree-view-item-value-string a {
  color: #a31515;
  white-space: pre-wrap; }

.tree-view-item-value.tree-view-item-value-boolean {
  color: #0000ff; }

.tree-view-item-value.tree-view-item-value-number {
  color: #098658; }

.tree-view-item-value.tree-view-item-value-null {
  color: #0000ff; }

.tree-view-item-value.tree-view-item-value-string a {
  text-decoration: none; }
  .tree-view-item-value.tree-view-item-value-string a:hover {
    text-decoration: underline; }

.decorationsOverviewRuler {
  display: none; }

.monaco-editor.vs .glyph-margin,
.monaco-editor.vs .margin-view-overlays {
  background: #f0f0f0; }

.monaco-editor.vs .line-numbers {
  color: #000; }

.monaco-editor .iPadShowKeyboard {
  display: none !important; }

.overflow-guard .margin {
  max-width: 62px;
  overflow: hidden; }

.vue-splitter-container {
  height: unset !important; }
  .vue-splitter-container .splitter-pane {
    display: flex;
    flex-direction: column; }
  .vue-splitter-container .splitter-pane-resizer {
    background-clip: unset !important;
    background-color: #eee !important;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==") !important;
    background-position: 50% !important;
    background-repeat: no-repeat !important;
    opacity: 1 !important;
    width: 9px !important; }

#app.layout-left .splitter-pane-resizer.vertical, #app.layout-right .splitter-pane-resizer.vertical {
  display: none; }

.d-flex {
  display: flex; }

.d-block {
  display: block; }

.flex-column {
  flex-direction: column; }

.flex-grow-1 {
  flex-grow: 1; }

.align-items-center {
  align-items: center; }

.justify-content-between {
  justify-content: space-between; }

.h-100 {
  height: 100%; }

.w-100 {
  width: 100%; }

.mx-2 {
  margin-left: .5rem;
  margin-right: .5rem; }

.font-weight-bold {
  font-weight: 700; }

.px-3 {
  padding-left: 1rem;
  padding-right: 1rem; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute; }

.position-fixed {
  position: fixed; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes slideIn {
  from {
    transform: translateX(-300px); }
  to {
    transform: translateX(0); } }

.tooltip {
  z-index: 5; }
  .tooltip .tooltip-inner {
    background: black;
    color: white;
    border-radius: 4px;
    padding: 6px 12px; }
  .tooltip .tooltip-arrow {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    margin: 5px;
    border-color: black;
    z-index: 1; }
  .tooltip[x-placement^="top"] {
    margin-bottom: 5px; }
    .tooltip[x-placement^="top"] .tooltip-arrow {
      border-width: 5px 5px 0 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      bottom: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0; }
  .tooltip[x-placement^="bottom"] {
    margin-top: 5px; }
    .tooltip[x-placement^="bottom"] .tooltip-arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0; }
  .tooltip[x-placement^="right"] {
    margin-left: 5px; }
    .tooltip[x-placement^="right"] .tooltip-arrow {
      border-width: 5px 5px 5px 0;
      border-left-color: transparent !important;
      border-top-color: transparent !important;
      border-bottom-color: transparent !important;
      left: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0; }
  .tooltip[x-placement^="left"] {
    margin-right: 5px; }
    .tooltip[x-placement^="left"] .tooltip-arrow {
      border-width: 5px 0 5px 5px;
      border-top-color: transparent !important;
      border-right-color: transparent !important;
      border-bottom-color: transparent !important;
      right: -5px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0; }
  .tooltip.popover .popover-inner {
    background: #f9f9f9;
    color: black;
    padding: 24px;
    border-radius: 5px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.1); }
  .tooltip.popover .popover-arrow {
    border-color: #f9f9f9; }
  .tooltip[aria-hidden='true'] {
    visibility: hidden;
    opacity: 0;
    transition: opacity .15s, visibility .15s; }
  .tooltip[aria-hidden='false'] {
    visibility: visible;
    opacity: 1;
    transition: opacity .15s; }

* {
  border: 0;
  box-sizing: border-box;
  line-height: 1;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  outline-offset: 2px; }

body, html {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  height: 100%;
  overflow: hidden;
  width: 100%;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

#app {
  height: 100%;
  min-height: 100%; }

#DW-SFToolkit {
  display: none; }

#editor {
  background: white;
  display: block;
  position: relative; }
  #editor::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 62px;
    background: #f4f4f4; }

header {
  background-color: #f4f4f4;
  height: 60px;
  padding-left: 0.5rem; }
  header a {
    color: #4f5051;
    font-size: 1.25rem;
    font-weight: 500;
    text-decoration: none; }
    header a img.logo {
      padding-right: 8px; }
  header h1 {
    font-size: 1.2rem; }

select {
  background: rgba(125, 125, 125, 0.15);
  border-radius: 0;
  border: none !important;
  color: #000;
  font-size: 16px;
  margin-left: 8px;
  margin-top: 4px;
  padding: 4px 8px;
  position: relative;
  top: -2px;
  -webkit-appearance: none; }

.current-file {
  position: absolute;
  right: 5px;
  top: -34px;
  background: white;
  height: 34px;
  line-height: 34px;
  padding: 0 16px 0 8px;
  border-radius: 4px 4px 0 0;
  border-top: 2px solid #4f5051; }
  .current-file.modified {
    border-top: 2px solid #f38518;
    font-style: italic; }
  .current-file button {
    appearance: none;
    background: transparent;
    cursor: pointer;
    padding: 6px; }

.actions {
  min-height: 50px;
  white-space: nowrap; }
  .actions label {
    align-items: center;
    display: flex;
    font-size: .75rem;
    margin: 0 .5rem; }
    .actions label input,
    .actions label select {
      margin-left: .25rem; }
  .actions .btn {
    background-color: whitesmoke;
    border: 1px solid #ededed;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    margin: 0 .25rem;
    padding: .5rem 1.75rem;
    width: 72px;
    transition: all 0.25s; }
    .actions .btn:disabled {
      opacity: 0.5;
      pointer-events: none; }
    .actions .btn:hover:enabled {
      background-color: #333;
      border-color: #fff;
      color: #fff; }
    .actions .btn:hover:disabled {
      cursor: not-allowed; }
    .actions .btn i {
      vertical-align: top; }
  .actions .menu {
    align-items: center;
    display: flex;
    margin-right: 5px; }
    .actions .menu a.menu-btn {
      background-color: #f0f0f0;
      color: #4f5051;
      display: block;
      font-size: 1.7rem;
      padding: .75rem 0;
      text-align: center;
      width: 62px; }
      .actions .menu a.menu-btn:hover {
        color: #000; }
  .actions .spin {
    animation: spin 4s linear infinite; }

.files {
  animation: slideIn .375s ease-in;
  background-color: #fbfafa;
  height: 100%;
  overflow-x: hidden;
  width: 300px;
  z-index: 3;
  padding-top: 50px; }
  .files .file-list-item {
    width: 300px; }
    .files .file-list-item a {
      color: #000;
      font-family: "Droid Sans Mono", monospace, monospace, "Droid Sans Fallback";
      font-size: 14px;
      font-weight: normal;
      height: 60px;
      padding: 0 1.25rem;
      text-decoration: none;
      border-bottom: 1px solid rgba(125, 125, 125, 0.15);
      transition: width 0.15s;
      padding: 0;
      margin: 0;
      position: relative;
      height: 50px;
      line-height: 50px; }
      .files .file-list-item a.delete-file {
        width: 0;
        overflow: hidden;
        text-align: center;
        opacity: 0.35;
        font-size: 20px;
        line-height: 45px; }
      .files .file-list-item a.load-file {
        width: 300px;
        overflow: hidden;
        text-indent: 14px; }
        .files .file-list-item a.load-file i {
          font-size: 20px;
          right: 50%;
          opacity: 0;
          position: absolute;
          transition: all 0.25s;
          width: 20px;
          height: 20px;
          display: block; }
    .files .file-list-item:hover a.delete-file {
      width: 40px; }
      .files .file-list-item:hover a.delete-file:hover {
        background: #dc3545;
        color: #fff !important;
        opacity: 1; }
    .files .file-list-item:hover a.load-file {
      width: 260px; }
      .files .file-list-item:hover a.load-file i {
        right: 28px;
        opacity: 1;
        top: 14px; }
  .files button.create-file {
    background: black;
    color: white;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 50px;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 300px; }
    .files button.create-file:hover {
      background: #28a745 !important;
      color: white !important; }
    .files button.create-file i {
      position: absolute;
      right: 18px;
      font-size: 24px;
      top: 12px; }

.splitter-paneR {
  background-color: #fbfafa;
  color: #333333;
  font-family: Menlo, Monaco, "Courier New", monospace;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  padding: 0; }
  .splitter-paneR .actions {
    justify-content: left;
    padding: 10px 0 0 8px; }
  .splitter-paneR > div:not(.actions) {
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
    padding-top: 10px;
    -webkit-overflow-scrolling: touch; }

.theme-selector {
  position: absolute;
  right: 16px;
  text-align: right;
  top: 16px;
  width: 200px; }

.autosave {
  position: absolute;
  right: 365px;
  height: 30px;
  width: 30px;
  background: transparent;
  cursor: pointer; }
  .autosave svg {
    width: 100%;
    height: 100%; }
    .autosave svg path {
      fill: none;
      stroke: #ccc;
      stroke-width: 6;
      stroke-miterlimit: 10; }
    .autosave svg .autosave-check {
      fill: #ccc;
      stroke-width: 0; }
  .autosave.active svg path {
    stroke: #4f5051; }
  .autosave.active svg .autosave-check {
    fill: #4f5051; }

.layout-selector {
  width: 120px;
  position: absolute;
  right: 220px;
  text-align: center; }
  .layout-selector .layout-switch {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 2px;
    background: transparent;
    border: none;
    appearance: none;
    cursor: pointer; }
    .layout-selector .layout-switch svg path {
      fill: #ccc; }
    .layout-selector .layout-switch:hover svg path,
    .layout-selector .layout-switch.active svg path {
      fill: #4f5051; }

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 2; }
  .overlay.position-fixed {
    backdrop-filter: blur(3px); }

#app.has-tabs .current-file {
  right: unset;
  left: 62px; }

#app.has-tabs header a span {
  display: none; }

#app.has-tabs header a img {
  padding-right: none; }

/* Support Touch Only Devices */
@media (hover: none) {
  .files .file-list-item a.delete-file {
    width: 40px; }
  .files .file-list-item a.load-file {
    width: 260px; }
    .files .file-list-item a.load-file i {
      right: 28px;
      opacity: 1;
      top: 14px; }
  .vue-splitter-container .splitter-pane-resizer {
    background-image: none !important; } }

html.hc-black {
  background: #000; }
  html.hc-black header {
    background-color: #0e0e0e;
    color: #a2a2a3; }
    html.hc-black header a {
      color: #a2a2a3; }
  html.hc-black select {
    color: #FFF; }
    html.hc-black select option {
      color: #a2a2a3;
      background: #0e0e0e; }
  html.hc-black #editor {
    background: #000; }
    html.hc-black #editor::before {
      content: '';
      background: #0e0e0e; }
  html.hc-black .actions .btn {
    background-color: #151515;
    border: 1px solid #000;
    color: #FFF; }
    html.hc-black .actions .btn.modified {
      border-top: 2px solid #f38518; }
    html.hc-black .actions .btn:hover {
      background-color: #000;
      border: 1px solid #151515;
      color: #FFF; }
  html.hc-black .current-file {
    background: #000;
    border-top: 2px solid #151515; }
    html.hc-black .current-file i {
      color: #FFF; }
  html.hc-black .files button.create-file {
    background: white;
    color: black; }
  html.hc-black .autosave svg path {
    stroke: #444; }
  html.hc-black .autosave svg .autosave-check {
    fill: #444; }
  html.hc-black .autosave.active svg path {
    stroke: #ddd; }
  html.hc-black .autosave.active svg .autosave-check {
    fill: #ddd; }
  html.hc-black .layout-selector .layout-switch svg path {
    fill: #444; }
  html.hc-black .layout-selector .layout-switch:hover svg path,
  html.hc-black .layout-selector .layout-switch.active svg path {
    fill: #DDD; }
  html.hc-black .menu-btn {
    background-color: #0e0e0e !important;
    color: #a2a2a3 !important; }
    html.hc-black .menu-btn:hover {
      color: #FFF !important; }
  html.hc-black .monaco-editor .margin {
    background-color: #0e0e0e; }
  html.hc-black .overlay {
    background-color: rgba(255, 255, 255, 0.2); }
  html.hc-black .splitter-paneL {
    background: #000;
    color: #FFF; }
  html.hc-black .splitter-paneR {
    background: #000;
    color: #FFF; }
  html.hc-black .files {
    background-color: #111; }
    html.hc-black .files.position-fixed {
      box-shadow: 0 0 6px rgba(255, 255, 255, 0.2); }
    html.hc-black .files a {
      background: transparent;
      color: #FFF; }
      html.hc-black .files a:hover {
        background: #000; }
  html.hc-black .tree-view-item-hint {
    color: #BBB; }
  html.hc-black .tree-view-item-key-with-chevron::before,
  html.hc-black .tree-view-item-key-with-chevron.opened::before {
    color: #FFF; }
  html.hc-black .tree-view-item-key {
    color: #FFF; }
  html.hc-black .tree-view-item-value.tree-view-item-value-string, html.hc-black .tree-view-item-value.tree-view-item-value-string a {
    color: #ce9178; }
  html.hc-black .tree-view-item-value.tree-view-item-value-boolean {
    color: #569cd6; }
  html.hc-black .tree-view-item-value.tree-view-item-value-number {
    color: #ffffff; }
  html.hc-black .tree-view-item-value.tree-view-item-value-null {
    color: #569cd6; }
  html.hc-black .tooltip .tooltip-arrow {
    border-color: white !important; }
  html.hc-black .tooltip .tooltip-inner {
    background: white !important;
    color: black !important; }
  html.hc-black .tooltip[x-placement^="top"] .tooltip-arrow {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important; }
  html.hc-black .tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important; }
  html.hc-black .tooltip[x-placement^="right"] .tooltip-arrow {
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important; }
  html.hc-black .tooltip[x-placement^="left"] .tooltip-arrow {
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important; }
  html.hc-black .vue-splitter-container .splitter-pane-resizer {
    background-color: #0e0e0e !important; }

html.vs-dark {
  background: #1f1f1f; }
  html.vs-dark select {
    color: #FFF; }
    html.vs-dark select option {
      color: #a2a2a3;
      background: #1b1b1b; }
  html.vs-dark header {
    background-color: #1b1b1b;
    color: #a2a2a3; }
    html.vs-dark header a {
      color: #a2a2a3; }
  html.vs-dark #editor {
    background: #1f1f1f; }
    html.vs-dark #editor::before {
      content: '';
      background: #1b1b1b; }
  html.vs-dark .actions .btn {
    background-color: #151515;
    border: 1px solid #1f1f1f;
    color: #BBB; }
    html.vs-dark .actions .btn:hover {
      background-color: #000;
      border: 1px solid #151515;
      color: #FFF; }
  html.vs-dark .current-file {
    background: #1f1f1f;
    border-top: 2px solid #151515; }
    html.vs-dark .current-file.modified {
      border-top: 2px solid #f38518; }
    html.vs-dark .current-file i {
      color: #BBB; }
  html.vs-dark .files button.create-file {
    background: white;
    color: black; }
  html.vs-dark .menu-btn {
    background-color: #1b1b1b !important;
    color: #a2a2a3 !important; }
    html.vs-dark .menu-btn:hover {
      color: #FFF !important; }
  html.vs-dark .monaco-editor .margin {
    background-color: #1b1b1b; }
  html.vs-dark .overlay {
    background-color: rgba(255, 255, 255, 0.2); }
  html.vs-dark .splitter-paneL {
    background: #1f1f1f;
    color: #FFF; }
  html.vs-dark .splitter-paneR {
    background: #151515;
    color: #ccc; }
  html.vs-dark .files {
    background-color: #111; }
    html.vs-dark .files.position-fixed {
      box-shadow: 0 0 6px rgba(255, 255, 255, 0.2); }
    html.vs-dark .files a {
      color: #FFF; }
      html.vs-dark .files a:hover {
        background: #1f1f1f; }
  html.vs-dark .autosave svg path {
    stroke: #555; }
  html.vs-dark .autosave svg .autosave-check {
    fill: #555; }
  html.vs-dark .autosave.active svg path {
    stroke: #ddd; }
  html.vs-dark .autosave.active svg .autosave-check {
    fill: #ddd; }
  html.vs-dark .layout-selector .layout-switch svg path {
    fill: #555; }
  html.vs-dark .layout-selector .layout-switch:hover svg path,
  html.vs-dark .layout-selector .layout-switch.active svg path {
    fill: #DDD; }
  html.vs-dark .tooltip .tooltip-arrow {
    border-color: white !important; }
  html.vs-dark .tooltip .tooltip-inner {
    background: white !important;
    color: black !important; }
  html.vs-dark .tooltip[x-placement^="top"] .tooltip-arrow {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important; }
  html.vs-dark .tooltip[x-placement^="bottom"] .tooltip-arrow {
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-top-color: transparent !important; }
  html.vs-dark .tooltip[x-placement^="right"] .tooltip-arrow {
    border-left-color: transparent !important;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important; }
  html.vs-dark .tooltip[x-placement^="left"] .tooltip-arrow {
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important; }
  html.vs-dark .tree-view-item-hint {
    color: #a2a2a3; }
  html.vs-dark .tree-view-item-key {
    color: #d4d4d4; }
  html.vs-dark .tree-view-item-key-with-chevron::before,
  html.vs-dark .tree-view-item-key-with-chevron.opened::before {
    color: #d4d4d4; }
  html.vs-dark .tree-view-item-value.tree-view-item-value-string, html.vs-dark .tree-view-item-value.tree-view-item-value-string a {
    color: #ce9178; }
  html.vs-dark .tree-view-item-value.tree-view-item-value-boolean {
    color: #569cd6; }
  html.vs-dark .tree-view-item-value.tree-view-item-value-number {
    color: #b5cea8; }
  html.vs-dark .tree-view-item-value.tree-view-item-value-null {
    color: #569cd6; }
  html.vs-dark .vue-splitter-container .splitter-pane-resizer {
    background-color: #1b1b1b !important; }

.fadeOut {
  animation-name: fadeOut; }

.fadeInDown {
  animation-name: fadeInDown; }

.fadeInUp {
  animation-name: fadeInUp; }

.fade-enter-active,
.fade-leave-active {
  transition: opacity 150ms ease-out; }

.fade-enter,
.fade-leave-to {
  opacity: 0; }

.v-notices {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  overflow: hidden;
  z-index: 9999;
  pointer-events: none; }

.v-notices .v-toast {
  display: inline-flex;
  align-items: center;
  animation-duration: 150ms;
  margin: .5em 0;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  border-radius: .25em;
  pointer-events: auto;
  opacity: .92;
  color: #fff;
  min-height: 3em;
  cursor: pointer; }

.v-notices .v-toast .v-toast-text {
  margin: 0;
  padding: .5em 1em;
  word-break: break-word; }
  .v-notices .v-toast .v-toast-text i.fa {
    position: relative;
    top: -2px; }

.v-notices .v-toast .v-toast-icon {
  display: none; }

.v-notices .v-toast-success {
  background-color: #28a745; }

.v-notices .v-toast-info {
  background-color: #00a1e0; }

.v-notices .v-toast-warning {
  background-color: #f38518; }

.v-notices .v-toast-error {
  background-color: #dc3545; }

.v-notices .v-toast-default {
  background-color: #343a40; }

.v-notices .v-toast.is-top,
.v-notices .v-toast.is-bottom {
  align-self: center; }

.v-notices .v-toast.is-top-right,
.v-notices .v-toast.is-bottom-right {
  align-self: flex-end; }

.v-notices .v-toast.is-top-left,
.v-notices .v-toast.is-bottom-left {
  align-self: flex-start; }

.v-notices.is-top {
  flex-direction: column; }

.v-notices.is-bottom {
  flex-direction: column-reverse; }

.v-notices.is-custom-parent {
  position: absolute; }

@keyframes fadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    transform: none; } }

@media screen and (max-width: 768px) {
  .v-notices {
    padding: 0;
    position: fixed !important; } }

#modal.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
  backdrop-filter: blur(3px); }

#modal .modal-wrapper {
  display: table-cell;
  vertical-align: middle; }

#modal .modal-container {
  width: 300px;
  margin: 0px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.3s ease; }

#modal .modal-header {
  font-weight: 500; }
  #modal .modal-header i.fa {
    position: relative;
    top: -2px; }

#modal .modal-body {
  margin: 20px 0; }

#modal .modal-footer {
  height: 30px; }

#modal .modal-default-button {
  float: right; }

#modal .input-wrapper {
  border: 1px solid #aaa;
  border-radius: 4px;
  position: relative;
  background: #f7f7f7; }
  #modal .input-wrapper input {
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    width: calc(100% - 30px);
    padding: 0;
    margin: 0;
    text-indent: 8px;
    border: none;
    background: transparent; }
    #modal .input-wrapper input:focus {
      outline: none; }
  #modal .input-wrapper span {
    display: block;
    font-size: 16px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 600; }

#modal button {
  background: #00a1e0;
  border-radius: 4px;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  text-transform: uppercase;
  width: 80px; }
  #modal button:hover {
    background: #2283a9;
    color: #FFF; }
  #modal button.modal-cancel-button {
    background: #EEE;
    color: #666; }
    #modal button.modal-cancel-button:hover {
      background: #ddd;
      color: #333; }

#modal .modal-enter {
  opacity: 0; }

#modal .modal-leave-active {
  opacity: 0; }

#modal .modal-enter .modal-container,
#modal .modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1); }

@media only screen and (max-width: 1024px) {
  header {
    height: 34px; }
    header a {
      font-size: 1rem;
      margin-left: 6px; }
      header a img {
        height: 32px;
        padding-right: 6px; }
  select {
    padding: 0 8px;
    font-size: 12px;
    line-height: 18px; }
  .actions {
    min-height: 40px; }
    .actions .btn {
      padding: .25rem 1rem;
      margin: 0 .20rem; }
    .actions .settings a.settings-btn {
      padding: .4rem 0; }
  .current-file {
    top: -30px;
    height: 30px;
    line-height: 30px;
    padding: 0 10px 0 5px;
    font-size: 12px; }
    .current-file button {
      font-size: 10px; }
  .autosave {
    right: 300px;
    height: 24px; }
  .layout-selector {
    width: 100px;
    right: 180px; }
    .layout-selector .layout-switch {
      width: 24px;
      height: 24px; }
  .splitter-paneR .actions {
    padding: 7px 0 0 7px; }
  .theme-selector {
    right: 4px;
    top: 6px;
    width: 170px; } }

@media only screen and (max-width: 768px) {
  header .autosave {
    right: 205px;
    height: 22px; }
  header .layout-selector {
    width: 100px;
    right: 100px; }
    header .layout-selector .layout-switch {
      width: 22px;
      height: 22px; }
  header .theme-selector {
    width: 100px; }
    header .theme-selector select {
      padding: 0 8px;
      font-size: 12px;
      line-height: 18px; }
    header .theme-selector span {
      display: none; } }

@media only screen and (max-width: 435px) {
  header a span {
    display: none; }
  .execution-time span {
    display: none; } }


/*# sourceMappingURL=dev_console.css.map*/