.vue-splitter-container {
    height: unset!important;

    .splitter-pane {
        display: flex;
        flex-direction: column;
    }

    .splitter-pane-resizer {
        background-clip: unset!important;
        background-color: #eee!important;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==')!important;
        background-position: 50%!important;
        background-repeat: no-repeat!important;
        opacity: 1!important;
        width: 9px!important;
    }
}

#app.layout-left, #app.layout-right {
    .splitter-pane-resizer.vertical {
        display: none;
    }
}
