html.vs-dark {
    background: $vs-dark-editor-bg;

    select {
        color: #FFF;

        option {
            color: $vs-dark-panel-text;
            background: $vs-dark-panel-bg;
        }
    }

    header {
        background-color: $vs-dark-panel-bg;
        color: $vs-dark-panel-text;

        a {
            color: $vs-dark-panel-text;
        }
    }

    #editor {
        background: $vs-dark-editor-bg;

        &::before {
            content: '';
            background: $vs-dark-panel-bg;
        }
    }

    .actions .btn {
        background-color: $vs-dark-button-bg;
        border: 1px solid $vs-dark-editor-bg;
        color: $vs-dark-button-text;

        &:hover {
            background-color: $hc-dark-editor-bg;
            border: 1px solid $vs-dark-button-bg;
            color: $vs-dark-editor-text;
        }
    }

    .current-file {
        background: $vs-dark-editor-bg;
        border-top: 2px solid $vs-dark-button-bg;

        &.modified {
            border-top: 2px solid #f38518;
        }

        i {
            color: $vs-dark-button-text;
        }
    }

    .files {
        button.create-file {
            background: white;
            color: black;
        }
    }

    .menu-btn {
        background-color: $vs-dark-panel-bg !important;
        color: $vs-dark-panel-text !important;

        &:hover {
            color: $vs-dark-editor-text !important;
        }
    }

    .monaco-editor .margin {
        background-color: $vs-dark-panel-bg;
    }

    .overlay {
        background-color: $vs-dark-overlay;
    }

    .splitter-paneL {
        background: $vs-dark-editor-bg;
        color: $vs-dark-editor-text;
    }

    .splitter-paneR {
        background: $vs-dark-output-bg;
        color: $vs-dark-output-text;
    }

    .files {
        background-color: $vs-dark-files-bg;

        &.position-fixed {
            box-shadow: 0 0 6px $vs-dark-overlay;
        }

        a {
            color: $vs-dark-editor-text;

            &:hover {
                background: $vs-dark-editor-bg;
            }
        }
    }

    .autosave {
        svg {
            path {
                stroke: #555;
            }
    
            .autosave-check {
                fill: #555;
            }
        }

        &.active {
            svg {
                path {
                    stroke: #ddd;
                }
        
                .autosave-check {
                    fill: #ddd;
                }
            }
        }
    }

    .layout-selector {
        .layout-switch {
            svg path {
                fill: #555;
            }
            &:hover svg path,
            &.active svg path {
                fill: #DDD;
            }
        }
    }

    .tooltip {
        .tooltip-arrow {
            border-color: white !important;
        }

        .tooltip-inner {
            background: white !important;
            color: black !important;
        }

        &[x-placement^="top"] {
            .tooltip-arrow {
                border-left-color: transparent !important;
                border-right-color: transparent !important;
                border-bottom-color: transparent !important;
            }
        }

        &[x-placement^="bottom"] {
            .tooltip-arrow {
                border-left-color: transparent !important;
                border-right-color: transparent !important;
                border-top-color: transparent !important;
            }
        }

        &[x-placement^="right"] {
            .tooltip-arrow {
                border-left-color: transparent !important;
                border-top-color: transparent !important;
                border-bottom-color: transparent !important;
            }
        }

        &[x-placement^="left"] {
            .tooltip-arrow {
                border-top-color: transparent !important;
                border-right-color: transparent !important;
                border-bottom-color: transparent !important;
            }
        }
    }


    .tree-view-item-hint {
        color: #a2a2a3;
    }
    .tree-view-item-key {
        color: #d4d4d4;
    }
    .tree-view-item-key-with-chevron::before,
    .tree-view-item-key-with-chevron.opened::before {
        color: #d4d4d4;
    }
    .tree-view-item-value {
        &.tree-view-item-value-string, &.tree-view-item-value-string a {
            color: #ce9178;
        }
        &.tree-view-item-value-boolean {
            color: #569cd6;
        }
        &.tree-view-item-value-number {
            color: #b5cea8;
        }
        &.tree-view-item-value-null {
            color: #569cd6;
        }
    }

    .vue-splitter-container .splitter-pane-resizer {
        background-color: $vs-dark-panel-bg !important;
    }
}
