* {
    border: 0;
    box-sizing: border-box;
    line-height: 1;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    outline-offset: 2px;
}

body, html {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    height: 100%;
    overflow: hidden;
    width: 100%;
    font-weight: 400;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

#app {
    height: 100%;
    min-height: 100%;
}

// Hide Demandware Salesforce Toolkit ( it's not needed )
#DW-SFToolkit {
    display: none;
}

#editor {
    background: rgb(255, 255, 255);
    display: block;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 62px;
        background: #f4f4f4;
    }
}

header {
    background-color: rgb(244, 244, 244);
    height: 60px;
    padding-left: 0.5rem;

    a {
        color: #4f5051;
        font-size: 1.25rem;
        font-weight: 500;
        text-decoration: none;

        img.logo {
            padding-right: 8px;
        }
    }

    h1 {
        font-size: 1.2rem;
    }
}

select {
    background: rgba(125,125,125,0.15);
    border-radius: 0;
    border: none !important;
    color: #000;
    font-size: 16px;
    margin-left: 8px;
    margin-top: 4px;
    padding: 4px 8px;
    position: relative;
    top: -2px;
    -webkit-appearance: none;
}

.current-file {
    position: absolute;
    right: 5px;
    top: -34px;
    background: white;
    height: 34px;
    line-height: 34px;
    padding: 0 16px 0 8px;
    border-radius: 4px 4px 0 0;
    border-top: 2px solid #4f5051;

    &.modified {
        border-top: 2px solid #f38518;
        font-style: italic;
    }

    button {
        appearance: none;
        background: transparent;
        cursor: pointer;
        padding: 6px;
    }
}

.actions {
    min-height: 50px;
    white-space: nowrap;

    label {
        align-items: center;
        display: flex;
        font-size: .75rem;
        margin: 0 .5rem;

        input,
        select {
            margin-left: .25rem;
        }
    }

    .btn {
        background-color: whitesmoke;
        border: 1px solid rgb(237, 237, 237);
        color: #333;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        margin: 0 .25rem;
        padding: .5rem 1.75rem;
        width: 72px;
        transition: all 0.25s;

        &:disabled {
            opacity: 0.5;
            pointer-events: none;
        }

        &:hover:enabled {
            background-color: #333;
            border-color: #fff;
            color: #fff;
        }

        &:hover:disabled {
            cursor: not-allowed;
        }

        i {
            vertical-align: top;
        }
    }

    .menu {
        align-items: center;
        display: flex;
        margin-right: 5px;

        a.menu-btn {
            background-color: #f0f0f0;
            color: #4f5051;
            display: block;
            font-size: 1.7rem;
            padding: .75rem 0;
            text-align: center;
            width: 62px;

            &:hover {
                color: #000;
            }
        }
    }

    .spin {
        animation: spin 4s linear infinite;
    }
}

.files {
    animation: slideIn .375s ease-in;
    background-color: #fbfafa;
    height: 100%;
    overflow-x: hidden;
    width: 300px;
    z-index: 3;
    padding-top: 50px;

    .file-list-item {
        width: 300px;

        a {
            color: #000;
            font-family: "Droid Sans Mono", monospace, monospace, "Droid Sans Fallback";
            font-size: 14px;
            font-weight: normal;
            height: 60px;
            padding: 0 1.25rem;
            text-decoration: none;
            border-bottom: 1px solid rgba(125,125,125,0.15);
            transition: width 0.15s;
            padding: 0;
            margin: 0;
            position: relative;
            height: 50px;
            line-height: 50px;

            &.delete-file {
                width: 0;
                overflow: hidden;
                text-align: center;
                opacity: 0.35;
                font-size: 20px;
                line-height: 45px;
            }

            &.load-file {
                width: 300px;
                overflow: hidden;
                text-indent: 14px;

                i {
                    font-size: 20px;
                    right: 50%;
                    opacity: 0;
                    position: absolute;
                    transition: all 0.25s;
                    width: 20px;
                    height: 20px;
                    display: block;
                }
            }
        }

        &:hover {
            a.delete-file {
                width: 40px;

                &:hover {
                    background: #dc3545;
                    color: #fff !important;
                    opacity: 1;
                }
            }

            a.load-file {
                width: 260px;

                i {
                    right: 28px;
                    opacity: 1;
                    top: 14px;
                }
            }
        }
    }

    button.create-file {
        background: black;
        color: white;
        cursor: pointer;
        font-size: 16px;
        font-weight: 600;
        height: 50px;
        position: fixed;
        text-transform: uppercase;
        top: 0;
        width: 300px;

        &:hover {
            background: #28a745 !important;
            color: white !important;
        }

        i {
            position: absolute;
            right: 18px;
            font-size: 24px;
            top: 12px;
        }
    }
}

.splitter-paneR {
    background-color: #fbfafa;
    color: #333333;
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    padding: 0;

    .actions {
        justify-content: left;
        padding: 10px 0 0 8px;
    }

    & > div:not(.actions) {
        height: 100%;
        overflow: auto;
        padding-bottom: 20px;
        padding-top: 10px;
        -webkit-overflow-scrolling: touch;
    }
}

.theme-selector {
    position: absolute;
    right: 16px;
    text-align: right;
    top: 16px;
    width: 200px;
}

.autosave {
    position: absolute;
    right: 365px;
    height: 30px;
    width: 30px;
    background: transparent;
    cursor: pointer;

    svg {
        width: 100%;
        height: 100%;

        path {
            fill: none;
            stroke: #ccc;
            stroke-width: 6;
            stroke-miterlimit: 10;
        }

        .autosave-check {
            fill: #ccc;
            stroke-width: 0;
        }
    }

    &.active {
        svg {
            path {
                stroke: #4f5051;
            }
    
            .autosave-check {
                fill: #4f5051;
            }
        }
    }
}

.layout-selector {
    width: 120px;
    position: absolute;
    right: 220px;
    text-align: center;

    .layout-switch {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0 2px;
        background: transparent;
        border: none;
        appearance: none;
        cursor: pointer;

        svg path {
            fill: #ccc;
        }

        &:hover svg path,
        &.active svg path {
            fill: #4f5051;
        }
    }
}

.overlay {
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 2;

    &.position-fixed {
        backdrop-filter: blur(3px);
    }
}

#app.has-tabs {
    .current-file {
        right: unset;
        left: 62px;
    }

    header {
        a {
            span {
                display: none;
            }

            img {
                padding-right: none;
            }
        }
    }
}

/* Support Touch Only Devices */
@media (hover: none) {
    .files {
        .file-list-item {
            a.delete-file {
                width: 40px;
            }

            a.load-file {
                width: 260px;

                i {
                    right: 28px;
                    opacity: 1;
                    top: 14px;
                }
            }
        }
    }

    // This library does not support touch, so hide resizer
    .vue-splitter-container .splitter-pane-resizer {
        background-image: none !important;
    }
}
