#rvw-devtools {
    background: #222;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 0vh;
    z-index: 9998;
    transition: height 0.5s;
    color: #fff;
}

#rvw-devtools button.toggle {
    position: absolute;
    top: -34px;
    right: 14px;
    width: 44px;
    height: 34px;
    display: block;
    z-index: 9999;
    border-radius: 8px 8px 0 0;
    padding: 0;
    margin: 0;
    border: 0;
    background: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.086 18.61l5.996-14.004a1 1 0 011.878.678l-.04.11-5.996 14.004a1 1 0 01-1.878-.677l.04-.11 5.996-14.005-5.996 14.005zm-5.793-7.317l4-4a1 1 0 011.497 1.32l-.083.094L4.414 12l3.293 3.293a1 1 0 01-1.32 1.497l-.094-.083-4-4a1 1 0 01-.083-1.32l.083-.094 4-4-4 4zm14-4.001a1 1 0 011.32-.083l.093.083 4.001 4a1 1 0 01.083 1.321l-.083.095-4.001 3.995a1 1 0 01-1.497-1.32l.084-.095 3.292-3.289-3.293-3.293a1 1 0 010-1.414z' fill='%23FFFFFF' fill-rule='nonzero'/%3E%3C/svg%3E") no-repeat center center #222;
    border: 2px solid #666;
    border-bottom: none;
}

#rvw-devtools button.toggle:hover {
    background-color: #000;
}

#rvw-devtools.open {
    height: 50vh;
    border-top: 2px solid #666;
}

#rvw-devtools textarea {
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: scroll;
}

@media only screen and (max-width: 768px) {
    #rvw-devtools.open {
        height: 80vh;
    }
}
