.tree-view-wrapper {
    height: 100%;
}

.tree-view-item-key,
.tree-view-item-hint {
    color: #b2b2b2;
}

.tree-view-item-value {
    &.tree-view-item-value-string {
        color: #9aab3a;
        white-space: pre-wrap;
    }
    &.tree-view-item-value-boolean {
        color: #ff0080;
    }
    &.tree-view-item-value-number {
        color: #4f7096;
    }
    &.tree-view-item-value-null {
        color: #c7444a;
    }
}
