// VS Code Dark Theme
$vs-dark-button-bg: #151515;
$vs-dark-button-text: #BBB;
$vs-dark-editor-bg: #1f1f1f;
$vs-dark-editor-text: #FFF;
$vs-dark-output-bg: #151515;
$vs-dark-output-text: #ccc;
$vs-dark-overlay: rgba(255, 255, 255, 0.2);
$vs-dark-panel-bg: #1b1b1b;
$vs-dark-panel-text: #a2a2a3;
$vs-dark-files-bg: #111;

// Hight Contrast Theme
$hc-dark-button-bg: #151515;
$hc-dark-button-text: #FFF;
$hc-dark-editor-bg: #000;
$hc-dark-editor-text: #FFF;
$hc-dark-output-bg: #000;
$hc-dark-output-text: #FFF;
$hc-dark-overlay: rgba(255, 255, 255, 0.2);
$hc-dark-panel-bg: #0e0e0e;
$hc-dark-panel-text: #a2a2a3;
$hc-dark-files-bg: #111;
