@import 'tree-view';
@import 'monaco';
@import 'split-pane';
@import 'util';

// VS Code Dark Theme
$vs-dark-button-bg: #151515;
$vs-dark-button-text: #BBB;
$vs-dark-editor-bg: #1f1f1f;
$vs-dark-editor-text: #FFF;
$vs-dark-output-bg: #151515;
$vs-dark-output-text: #ccc;
$vs-dark-overlay: rgba(255, 255, 255, 0.2);
$vs-dark-panel-bg: #1b1b1b;
$vs-dark-panel-text: #a2a2a3;
$vs-dark-stubs-bg: #111;

// Hight Contrast Theme
$hc-dark-button-bg: #151515;
$hc-dark-button-text: #FFF;
$hc-dark-editor-bg: #000;
$hc-dark-editor-text: #FFF;
$hc-dark-output-bg: #000;
$hc-dark-output-text: #FFF;
$hc-dark-overlay: rgba(255, 255, 255, 0.2);
$hc-dark-panel-bg: #0e0e0e;
$hc-dark-panel-text: #a2a2a3;
$hc-dark-stubs-bg: #111;

* {
    box-sizing: border-box;
    line-height: 1;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    overflow: hidden;
}

#app {
    min-height: 100vh;
    height: 100%;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Hide this since we are already using a Dev Tool
#DW-SFToolkit {
    display: none;
}

.theme-selector {
    width: 140px;
    position: absolute;
    right: 20px;
    top: 20px;
    text-align: right;
}

header {
    height: 60px;
    padding-left: 0.5rem;
    background-color: rgb(244, 244, 244);

    a {
        text-decoration: none;
        font-size: 1.25rem;
        color: #4f5051;
        font-weight: 500;

        img.logo {
            padding-right: 8px;
        }
    }

    h1 {
        font-size: 1.2rem;
    }
}

.note {
    font-size: .9rem;
    vertical-align: middle;
    padding-top: 5px;
    display: inline-block;
    margin-left: 1.5rem;
}

#editor {
    position: relative;
    display: block;
    background: rgb(255, 255, 255);
}

.actions {
    white-space: nowrap;

    .spin {
        animation: spin 4s linear infinite;
    }

    .btn {
        padding: .5rem 1.75rem;
        font: inherit;
        margin: 0 .25rem;
        background-color: whitesmoke;
        border: 1px solid rgb(237, 237, 237);
        font-weight: 500;
        color: #333;
        font-size: 95%;
        transition: .15s ease;
        cursor: pointer;

        &:hover:enabled {
            border-color: #fff;
            color: #fff;
            background-color: #333;
        }

        &:hover:disabled {
            cursor: not-allowed;
        }

        i {
            vertical-align: top;
        }
    }

    label {
        font-size: .75rem;
        margin: 0 .5rem;
        display: flex;
        align-items: center;

        select {
            border: 1px solid #dddddd;
            border-radius: 3px;
            color: #4e5051;
        }

        input,
        select {
            margin-left: .25rem;
        }
    }

    .settings {
        margin-right: 1rem;
        display: flex;
        align-items: center;

        a.settings-btn {
            width: 62px;
            background-color: #f0f0f0;
            font-size: 1.7rem;
            color: #4f5051;
            transition: .15s;
            display: block;
            padding: .75rem 0;
            text-align: center;

            &:hover {
                color: #000;

                i {
                    animation: spin 5s linear infinite;
                }
            }
        }
    }
}

.splitter-paneR {
    background-color: #fbfafa;
    padding: 1rem;
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #333333;

    .actions {
        padding: 0 0 .75rem 0;
        justify-content: center;
    }

    & > div:not(.actions) {
        height: 100%;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
    }
}

.stubs {
    width: 300px;
    height: 100%;
    background-color: #fbfafa;
    z-index: 3;
    animation: slideIn .375s ease-in;
    overflow-x: hidden;

    a {
        height: 60px;
        color: #000;
        padding: 0 1.25rem;
        text-decoration: none;
        transition: opacity .25s linear;
        font-family: Menlo, Monaco, "Courier New", monospace;
        font-weight: normal;
        font-size: 14px;

        &:first-child {
            border-top: 0;
        }

        &:last-child {
            border-bottom: 0;
        }

        &:hover {
            background: #eee;
        }
    }
}

.overlay {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0,0,0,0.5);
    transition: all 0.25s;

    &.position-fixed {
        backdrop-filter: blur(3px);
    }
}

.lines-content.monaco-editor-background {
    transform: translate3d(10px, 10px, 0px) !important;
}

.margin-view-overlays > div {
    margin-top: 10px;
}

.tree-view-item, .tree-view-item *, pre {
    font-family: Menlo, Monaco, "Courier New", monospace !important;
    font-weight: normal !important;
    font-size: 12px !important;
    line-height: 20px !important;
}

.tree-view-item-key-with-chevron.opened::before, .tree-view-item-key-with-chevron::before {
    top: 0 !important;
}

#app.vs {
    .tree-view-item-key {
        color: #333;
    }
    .tree-view-item-hint {
        color: #BBB;
    }
}

#app.vs-dark {
    header {
        background-color: $vs-dark-panel-bg;
        color: $vs-dark-panel-text;

        a {
            color: $vs-dark-panel-text;
        }
    }
    .monaco-editor .margin {
        background-color: $vs-dark-panel-bg;
    }
    .settings-btn {
        background-color: $vs-dark-panel-bg;
        color: $vs-dark-panel-text;

        &:hover {
            color: $vs-dark-editor-text;
        }
    }
    .splitter-paneL {
        background: $vs-dark-editor-bg;
        color: $vs-dark-editor-text;
    }
    .splitter-paneR {
        background: $vs-dark-output-bg;
        color: $vs-dark-output-text;
    }
    .vue-splitter-container .splitter-pane-resizer {
        background-color: $vs-dark-panel-bg !important;
    }
    .actions .btn {
        background-color: $vs-dark-button-bg;
        border: 1px solid $vs-dark-editor-bg;
        color: $vs-dark-button-text;

        &:hover {
            background-color: $hc-dark-editor-bg;
            border: 1px solid $vs-dark-button-bg;
            color: $vs-dark-editor-text;
        }
    }
    .stubs {
        background-color: $vs-dark-stubs-bg;

        &.position-fixed {
            box-shadow: 0 0 6px $vs-dark-overlay;
        }

        a {
            color: $vs-dark-editor-text;
            background: transparent;

            &:hover {
                background: $vs-dark-editor-bg;
            }
        }
    }
    .overlay {
        background-color: $vs-dark-overlay;
    }
}

#app.hc-black {
    header {
        background-color: $hc-dark-panel-bg;
        color: $hc-dark-panel-text;

        a {
            color: $hc-dark-panel-text;
        }
    }
    .monaco-editor .margin {
        background-color: $hc-dark-panel-bg;
    }
    .settings-btn {
        background-color: $hc-dark-panel-bg;
        color: $hc-dark-panel-text;

        &:hover {
            color: $hc-dark-editor-text;
        }
    }
    .splitter-paneL {
        background: $hc-dark-editor-bg;
        color: $hc-dark-editor-text;
    }
    .splitter-paneR {
        background: $hc-dark-output-bg;
        color: $hc-dark-output-text;
    }
    .vue-splitter-container .splitter-pane-resizer {
        background-color: $hc-dark-panel-bg !important;
    }
    .actions .btn {
        background-color: $hc-dark-button-bg;
        border: 1px solid $hc-dark-editor-bg;
        color: $hc-dark-button-text;

        &:hover {
            background-color: $hc-dark-editor-bg;
            border: 1px solid $hc-dark-button-bg;
            color: $hc-dark-editor-text;
        }
    }
    .stubs {
        background-color: $hc-dark-stubs-bg;

        &.position-fixed {
            box-shadow: 0 0 6px $hc-dark-overlay;
        }

        a {
            color: $hc-dark-editor-text;
            background: transparent;

            &:hover {
                background: $hc-dark-editor-bg;
            }
        }
    }
    .overlay {
        background-color: $hc-dark-overlay;
    }
}
