.decorationsOverviewRuler {
    display: none;
}

.lines-content.monaco-editor-background {
    transform: translate3d(10px, 10px, 0px) !important;
}

.margin-view-overlays > div {
    margin-top: 10px;
}

.monaco-editor.vs {
    .glyph-margin,
    .margin-view-overlays {
        background: #f0f0f0;
    }

    .line-numbers {
        color: #000;
    }
}

.monaco-editor .iPadShowKeyboard {
    display: none !important;
}

.overflow-guard {
    .margin {
        max-width: 62px;
        overflow: hidden;
    }
}

.monaco-editor .line-numbers {
    width: 62px !important;
    text-align: center !important;
}
