.decorationsOverviewRuler {
    display: none;
}

.monaco-editor.vs {
    .glyph-margin,
    .margin-view-overlays {
        background: #f0f0f0;
    }

    .line-numbers {
        color: #000;
    }
}

.monaco-editor .iPadShowKeyboard {
    display: none !important;
}

.overflow-guard {
    .margin {
        max-width: 62px;
        overflow: hidden;
    }
}
