@media only screen and (max-width: 1024px) {
    header {
        height: 34px;

        a {
            font-size: 1rem;
            margin-left: 6px;

            img {
                height: 32px;
                padding-right: 6px;
            }
        }
    }

    select {
        padding: 0 8px;
        font-size: 12px;
        line-height: 18px;
    }

    .actions {
        min-height: 40px;

        .btn {
            padding: .25rem 1rem;
            margin: 0 .20rem;
        }

        .settings {
            a.settings-btn {
                padding: .4rem 0;
            }
        }
    }

    .current-file {
        top: -30px;
        height: 30px;
        line-height: 30px;
        padding: 0 10px 0 5px;
        font-size: 12px;

        button {
            font-size: 10px;
        }
    }

    .autosave {  
        right: 300px;
        height: 24px;
    }

    .layout-selector {
        width: 100px;
        right: 180px;

        .layout-switch {
            width: 24px;
            height: 24px;
        }
    }

    .splitter-paneR {
        .actions {
            padding: 7px 0 0 7px;
        }
    }

    .theme-selector {
        right: 4px;
        top: 6px;
        width: 170px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        .autosave {  
            right: 205px;
            height: 22px;
        }

        .layout-selector {
            width: 100px;
            right: 100px;

            .layout-switch {
                width: 22px;
                height: 22px;
            }
        }

        .theme-selector {
            width: 100px;

            select {
                padding: 0 8px;
                font-size: 12px;
                line-height: 18px;
            }
            span {
                display: none;
            }
        }
    }
}

@media only screen and (max-width: 435px) {
    header {
        a {
            span {
                display: none;
            }
        }
    }

    .execution-time span {
        display: none;
    }
}
