#rvw_dev_tools {
  line-height: 1;
  box-sizing: border-box;
  padding: 0;
  margin: 0; }
  #rvw_dev_tools *, #rvw_dev_tools *:before, #rvw_dev_tools *:after {
    box-sizing: inherit; }

#rvw_dev_tools .drawer {
  background: #222;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 50vh;
  z-index: 9998;
  color: #fff; }

.popover {
  box-shadow: #3a3a3a 0 0 6px 0;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  padding: 2px;
  position: absolute;
  text-align: center;
  width: auto;
  z-index: 200000;
  position: absolute;
  bottom: 40px;
  left: 0; }

.popover .popover__arrow {
  display: none; }

.popover.messages {
  background: #333;
  color: #FFF;
  border: none;
  padding: 0;
  border-radius: 0; }
  .popover.messages .popover__arrow {
    display: none; }

.popover .table {
  padding: 14px;
  text-align: left;
  line-height: 24px; }
  .popover .table > a {
    color: white;
    display: block;
    position: relative;
    text-decoration: none; }
    .popover .table > a span.count {
      color: #FFF;
      display: inline-block;
      font-size: 12px;
      height: 20px;
      line-height: 20px;
      margin: 0;
      padding: 0;
      position: absolute;
      right: 0;
      text-align: center;
      top: 2px;
      width: 20px; }
      .popover .table > a span.count.debug {
        background: #84bd00; }
      .popover .table > a span.count.error {
        background: #d70000; }
      .popover .table > a span.count.fatal {
        background: #990000; }
      .popover .table > a span.count.info {
        background: #286981; }
      .popover .table > a span.count.log {
        background: #222222; }
      .popover .table > a span.count.warn {
        background: #ec6919; }
      .popover .table > a span.count.disabled {
        background: #555;
        color: #EEE; }
    .popover .table > a span.label {
      width: 70px;
      display: inline-block; }

#rvw_dev_tools .show-toolbar {
  position: fixed;
  bottom: 0;
  right: 14px;
  width: 44px;
  height: 34px;
  display: block;
  z-index: 9999;
  border-radius: 8px 8px 0 0;
  padding: 0;
  margin: 0;
  border: 0;
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.086 18.61l5.996-14.004a1 1 0 011.878.678l-.04.11-5.996 14.004a1 1 0 01-1.878-.677l.04-.11 5.996-14.005-5.996 14.005zm-5.793-7.317l4-4a1 1 0 011.497 1.32l-.083.094L4.414 12l3.293 3.293a1 1 0 01-1.32 1.497l-.094-.083-4-4a1 1 0 01-.083-1.32l.083-.094 4-4-4 4zm14-4.001a1 1 0 011.32-.083l.093.083 4.001 4a1 1 0 01.083 1.321l-.083.095-4.001 3.995a1 1 0 01-1.497-1.32l.084-.095 3.292-3.289-3.293-3.293a1 1 0 010-1.414z' fill='%23FFFFFF' fill-rule='nonzero'/%3E%3C/svg%3E") no-repeat center center #222;
  border: 2px solid #666;
  border-bottom: none; }

#rvw_dev_tools .toolbar {
  background: #222;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 40px;
  z-index: 9998;
  color: #fff; }
  #rvw_dev_tools .toolbar .toolbar-button-wrapper {
    position: relative;
    display: inline-block; }
  #rvw_dev_tools .toolbar button {
    border: none;
    color: #FFF;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    height: 40px;
    line-height: 40px;
    margin: 0;
    padding: 0 12px; }
    #rvw_dev_tools .toolbar button.toolbar-button {
      background: #333; }
      #rvw_dev_tools .toolbar button.toolbar-button svg {
        width: 20px;
        height: 20px;
        margin: 0;
        padding: 0;
        margin-left: 8px;
        position: relative;
        top: 6px; }
        #rvw_dev_tools .toolbar button.toolbar-button svg path {
          fill: #FFF; }
      #rvw_dev_tools .toolbar button.toolbar-button:hover {
        background: #000; }
    #rvw_dev_tools .toolbar button.hide-toolbar {
      background: #333;
      float: right; }
      #rvw_dev_tools .toolbar button.hide-toolbar svg {
        width: 12px;
        height: 12px;
        margin: 0;
        padding: 0;
        position: relative;
        top: 3px; }
        #rvw_dev_tools .toolbar button.hide-toolbar svg path {
          fill: #FFF; }
      #rvw_dev_tools .toolbar button.hide-toolbar:hover {
        background: #000; }

#rvw_dev_tools .fade-enter-active, #rvw_dev_tools .fade-leave-active {
  transition: opacity .25s; }

#rvw_dev_tools .fade-enter, #rvw_dev_tools .fade-leave-to {
  opacity: 0; }


/*# sourceMappingURL=dev_tools.css.map*/