#rvw_dev_tools {
    .toolbar {
        background: #222;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 50px;
        z-index: 9998;
        color: #fff;
    }
}
