$toolbar-height: 40px;
$toolbar-color-debug: #84bd00;
$toolbar-color-error: #d70000;
$toolbar-color-fatal: #990000;
$toolbar-color-info: #286981;
$toolbar-color-log: #444444;
$toolbar-color-warn: #ec6919;
