name: Assign to Project
on:
  issues:
    types:
      - opened
  pull_request:
    types:
      - opened
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  assign_to_project:
    runs-on: ubuntu-latest
    name: Assign to SFCC Developers Core
    steps:
    - name: Check GitHub Event Action
      uses: srggrs/assign-one-project-github-action@1.2.0
      if: github.event.action == 'opened'
      with:
        project: 'https://github.com/sfccdevops/sfcc_developers_core/projects/1'
